.footer
  background: #000000
  height: 134px
  &-block
    display: flex
    padding-top: 45px
    &__address
      color: #fdfcfc
      font-family: 'Proxima Nova Regular'
      font-size: 20px
      font-weight: 400
      line-height: 28px
      align-self: center
      display: flex
      align-items: center
      margin-right: 150px
      & img
        margin-right: 15px
      & p
        margin: 0
    &__social
      display: flex
      margin-right: 130px
      &-insta
        background-color: #fefdfd
        width: 26px
        height: 26px
        border-radius: 50%
        margin-right: 10px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        align-self: center
        &:hover
          background-color: $color-main
        & img
          width: 16px
          height: 16px
          display: flex
      &-vk
        background-color: #fefdfd
        width: 26px
        height: 26px
        border-radius: 50%
        margin-right: 10px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        align-self: center
        &:hover
          background-color: $color-main
        & img
          width: 18px
          height: 18px
          display: flex
      &-ok
        background-color: #fefdfd
        width: 26px
        height: 26px
        border-radius: 50%
        margin-right: 10px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        align-self: center
        &:hover
          background-color: $color-main
        & img
          width: 16px
          height: 16px
          display: flex
    &__mail
      display: flex
      & img
        align-self: center
        margin-right: 10px
      & a
        display: flex
        color: #fefefe
        font-family: 'Proxima Nova Regular'
        font-size: 18px
        font-weight: 400
        line-height: 40px
        text-decoration: none
        align-self: center
        &:after
          content: url('../img/footer/line.png')
          margin-right: 22px
          margin-left: 27px
    &__phone
      display: flex
      & img
        align-items: center
        align-self: center
        margin-right: 8px
      & a
        text-decoration: none
        font-size: 18px
        font-weight: 400
        color: #fefefe
        line-height: 40px
        font-family: 'Proxima Nova Regular'
        & b
          font-weight: 700
@media (max-width: 1200px)
  .footer
    &-block
      padding-top: 50px
      &__address
        font-size: 14px
        line-height: 1
        margin-right: 20px
        & img
          margin-right: 5px
      &__social
        margin-right: 20px
      &__mail
        & img
          margin-right: 5px
        & a
          font-size: 16px
          line-height: 1
          &:after
            content: ''
            margin-right: 10px
            margin-left: 10px
      &__phone
        & img
          margin-right: 5px
        & a
          font-size: 16px
          line-height: 1
          align-self: center
@media (max-width: 768px)
  .footer
    &-block
      padding-top: 20px
      &__address
        width: 130px
      &__social
        flex-direction: column
        margin-right: 10px
        &-insta
          margin-bottom: 10px
        &-vk
          margin-bottom: 10px
      &__mail
        & a
          margin-right: 5px
@media (max-width: 567px)
  .footer
    &-block
      padding-top: 5px
      display: flex
      flex-direction: column
      &__address
        width: 300px
        justify-content: center
        margin-bottom: 10px
      &__social
        flex-direction: row
        justify-content: center
        &-ok
          margin-bottom: 10px
      &__mail
        justify-content: center
        margin-bottom: 10px
      &__phone
        justify-content: center