@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  margin-top: 8px;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  font-style: italic;
  margin-right: 136px;
}

.navbar__menu-list {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 14px;
  width: 511px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 119px;
}

.navbar__menu-list li + li:before {
  content: url("../img/navbar/line.png");
  margin-right: 29px;
}

.navbar__menu-list a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Proxima Nova Regular';
  font-weight: 500;
  line-height: 40px;
  color: #000000;
}

.navbar__menu-list a:hover {
  color: #ffc800;
  border-bottom: 2px solid #ffc800;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__contacts {
  margin-top: 20px;
  margin-right: 43px;
  font-family: 'Proxima Nova Regular';
  font-size: 18px;
  font-weight: 700;
}

.navbar__contacts-bold {
  font-weight: bold;
  font-family: 'Proxima Nova Extra Bold';
}

.navbar__contacts a {
  text-decoration: none;
  color: #000000;
}

.navbar__button {
  padding: 8px 14px 7px 15px;
  font-family: 'Proxima Nova Regular';
  font-size: 14px;
  font-weight: bold;
  color: #030303;
  background: #ffc800;
  border: none;
  outline: none;
  margin: auto;
}

.navbar__button:hover {
  cursor: pointer;
}

.hero {
  margin-bottom: 130px;
}

.nav-hero__slider-item {
  position: relative;
}

.nav-hero__slider-item img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: auto;
}

.nav-hero__text {
  position: absolute;
  color: #ffc800;
  bottom: 340px;
  font-family: 'Proxima Nova Regular';
}

.nav-hero__text-a {
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 0;
}

.nav-hero__text-b {
  font-size: 35px;
  font-weight: 400;
  line-height: 55px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-hero__text-c {
  font-size: 20px;
  font-weight: 100;
  line-height: 28px;
  color: #fffffe;
  opacity: 0.42;
  margin-bottom: 25px;
  width: 1120px;
}

.hero__button {
  position: absolute;
  bottom: 272px;
  padding: 12px 38px 13px 40px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Extra Bold';
  background: #ffc800;
  border: none;
  outline: none;
  letter-spacing: 1px;
}

.slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: -65px;
  padding: 0;
  left: 50%;
  margin-right: 50%;
  -webkit-transform: translate(-45%, -4%);
          transform: translate(-45%, -4%);
}

.slick-dots li {
  margin-right: 10px;
  content: url("../img/hero/btn.png");
}

.slick-dots li.slick-active {
  content: url("../img/hero/btn-active.png");
}

.price__button {
  font-family: 'Proxima Nova Regular';
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  color: #020202;
  padding: 15px 66px 15px 68px;
  border: none;
  outline: none;
  background: #ffc800;
  margin-bottom: 75px;
  margin-top: -25px;
  margin-left: -30px;
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__item {
  width: 377px;
  height: 236px;
  position: relative;
  margin-bottom: 21px;
}

.price__item .active {
  display: none;
}

.price__item:hover .default {
  display: none;
}

.price__item:hover .active {
  display: inline;
}

.price__item-text {
  position: absolute;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 100%;
  top: 18px;
  color: #fcfafa;
}

.price__item-text .active {
  position: relative;
  color: #000000;
  top: 37px;
  left: 5px;
}

.price__item-text:hover .default {
  display: none;
}

.price__item-text:hover .active {
  display: inline;
}

.price__item-button {
  position: absolute;
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  font-weight: 400;
  line-height: 15.93px;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 19px;
  background: #ffc800;
  bottom: 68px;
  border: none;
  outline: none;
  left: 32%;
  margin-right: 30%;
}

.price__item-button.active {
  color: #fdfcfc;
  background: #000000;
  padding: 10px 36px;
}
/*# sourceMappingURL=style.css.map */