@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Extra Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Extrabld.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Black';
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Bold Italic';
  src: url("../fonts/ProximaNova/ProximaNova-BoldIt.eot");
  src: url("../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-BoldIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Italic';
  src: url("../fonts/ProximaNova/ProximaNova-RegularIt.eot");
  src: url("../fonts/ProximaNova/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
  *:hover {
    background-color: none;
    border: none;
    cursor: none;
    color: none;
    border-bottom: none;
  }
}

.navbar {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(61%, #ffffff), color-stop(39%, rgba(241, 241, 241, 0.55)));
  background: linear-gradient(to right, #ffffff 0%, #ffffff 61%, rgba(241, 241, 241, 0.55) 39%);
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  padding-top: 8px;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  font-style: italic;
  margin-right: 136px;
}

.navbar__menu-list {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 14px;
  width: 511px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 119px;
}

.navbar__menu-list li + li:before {
  content: url("../img/navbar/line.png");
  margin-right: 29px;
}

.navbar__menu-list a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Proxima Nova Regular';
  font-weight: 500;
  line-height: 40px;
  color: #000000;
}

.navbar__menu-list a:hover {
  color: #ffc800;
  border-bottom: 2px solid #ffc800;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__contacts {
  margin-top: 20px;
  margin-right: 43px;
  font-family: 'Proxima Nova Regular';
  font-size: 18px;
  font-weight: 700;
}

.navbar__contacts-bold {
  font-weight: bold;
  font-family: 'Proxima Nova Extra Bold';
}

.navbar__contacts a {
  text-decoration: none;
  color: #000000;
}

.navbar__button {
  padding: 8px 14px 7px 15px;
  font-family: 'Proxima Nova Regular';
  font-size: 14px;
  font-weight: bold;
  color: #030303;
  background: #ffc800;
  border: none;
  outline: none;
  margin: auto;
}

.navbar__button:hover {
  cursor: pointer;
}

.burger__menu {
  display: none;
}

@media (max-width: 1200px) {
  .navbar-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__logo {
    margin-right: 70px;
  }
  .navbar__menu-list {
    margin-right: 80px;
    width: 350px;
  }
  .navbar__menu-list li + li:before {
    margin-right: 13px;
  }
  .navbar__menu-list a {
    font-size: 14px;
  }
  .navbar__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__contacts {
    font-size: 14px;
    margin: 0px;
  }
  .navbar__button {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .navbar {
    background: #ffffff;
  }
  .navbar__logo {
    margin-right: 40px;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__menu-list {
    margin-right: 50px;
    width: 300px;
  }
  .navbar__menu-list li + li:before {
    content: '';
  }
  .navbar__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar__contacts {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 30px;
  }
  .navbar__button {
    margin-right: 30px;
  }
}

@media (max-width: 567px) {
  .navbar__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__contacts {
    margin-right: 10px;
  }
  .navbar__button {
    margin-right: 20px;
  }
}

.hero {
  margin-bottom: 130px;
}

.hero img {
  max-width: none;
}

.nav-hero__slider-item {
  position: relative;
}

.nav-hero__slider-item img {
  height: 100%;
  width: auto;
}

.nav-hero__text {
  position: absolute;
  color: #ffc800;
  bottom: 340px;
  font-family: 'Proxima Nova Regular';
}

.nav-hero__text-a {
  font-family: 'Proxima Nova Semibold';
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.nav-hero__text-b {
  font-size: 35px;
  font-weight: 400;
  line-height: 55px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-hero__text-c {
  font-size: 20px;
  font-weight: 100;
  line-height: 28px;
  color: #fffffe;
  opacity: 0.42;
  margin-bottom: 25px;
  width: 1120px;
}

.hero__button {
  position: absolute;
  bottom: 272px;
  padding: 1px 38px 4px 40px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold';
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  background: #ffc800;
  border: none;
  outline: none;
  cursor: pointer;
}

.slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: -65px;
  padding: 0;
  left: 50%;
  margin-right: 50%;
  -webkit-transform: translate(-45%, -4%);
          transform: translate(-45%, -4%);
  cursor: pointer;
}

.slick-dots li {
  margin-right: 10px;
  content: url("../img/hero/btn.png");
}

.slick-dots li.slick-active {
  content: url("../img/hero/btn-active.png");
}

@media (max-width: 1200px) {
  .hero img {
    width: auto;
    height: 100%;
  }
  .nav-hero__text {
    width: 750px;
  }
  .nav-hero__text-c {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero img {
    max-height: 500px;
  }
  .nav-hero__text {
    width: 500px;
    bottom: 240px;
  }
  .nav-hero__text-a {
    font-size: 25px;
  }
  .nav-hero__text-b {
    font-size: 25px;
  }
  .nav-hero__text-c {
    font-size: 15px;
    width: 500px;
    margin-bottom: 0;
  }
  .hero__button {
    bottom: 150px;
  }
}

@media (max-width: 567px) {
  .hero {
    margin-bottom: 50px;
  }
  .hero img {
    max-height: 400px;
  }
  .nav-hero__text {
    width: 300px;
    bottom: 200px;
  }
  .nav-hero__text-a {
    font-size: 20px;
    line-height: 1.1;
  }
  .nav-hero__text-b {
    font-size: 20px;
    line-height: 1.1;
  }
  .nav-hero__text-c {
    font-size: 14px;
    width: 300px;
    margin-bottom: 0;
    line-height: 1;
  }
  .hero__button {
    bottom: 90px;
    font-size: 14px;
  }
}

.price {
  margin-bottom: 139px;
  background-color: rgba(241, 241, 241, 0.55);
}

.price__button {
  font-family: 'Proxima Nova Semibold';
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  color: #020202;
  padding: 15px 66px 15px 68px;
  border: none;
  outline: none;
  background: #ffc800;
  margin-bottom: 75px;
  margin-top: -25px;
  margin-left: -30px;
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 96px;
}

.price__item {
  width: 377px;
  height: 236px;
  position: relative;
  margin-bottom: 21px;
}

.price__item img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.price__item img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.price__item .active {
  display: none;
}

.price__item:hover .default {
  display: none;
}

.price__item:hover .active {
  display: inline;
}

.price__item-text {
  position: absolute;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 100%;
  top: 18px;
  color: #fcfafa;
}

.price__item-text .active {
  position: relative;
  color: #000000;
  top: 37px;
  left: 5px;
}

.price__item-text:hover .default {
  display: none;
}

.price__item-text:hover .active {
  display: inline;
}

.price__item-button {
  position: absolute;
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  font-weight: 400;
  line-height: 15.93px;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 19px;
  background: #ffc800;
  bottom: 68px;
  border: none;
  outline: none;
  left: 32%;
  margin-right: 30%;
}

.price__item-button.active {
  color: #fdfcfc;
  background: #000000;
  padding: 10px 36px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .price {
    margin-bottom: 60px;
  }
  .price__button {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .price-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px;
  }
}

@media (max-width: 567px) {
  .price {
    margin-bottom: 20px;
  }
  .price-block {
    padding-bottom: 10px;
  }
  .price__item {
    margin-bottom: 10px;
  }
  .price__item-button {
    font-size: 10px;
    font-weight: bold;
  }
  .price__item-text {
    font-size: 16px;
  }
}

.advantages {
  margin-bottom: 186px;
}

.advantages__button {
  font-family: 'Proxima Nova Semibold';
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  color: #020202;
  padding: 15px 33px 15px 30px;
  border: none;
  outline: none;
  background: #ffc800;
  margin-bottom: 65px;
  margin-top: -25px;
  margin-left: -30px;
}

.advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-block__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 670px;
  max-width: 670px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.advantages-block__advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 198px;
  height: 168px;
  margin-bottom: 38px;
  padding-top: 16px;
  text-align: center;
  font-family: 'Proxima Nova Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

.advantages-block__advantages-item img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 15px;
}

.advantages-block__advantages-item-image {
  width: 51px;
  height: 53px;
}

.advantages-block__services {
  margin-left: 91px;
}

.advantages-block__services-list {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #020202;
}

.advantages-block__services-list li {
  color: #020202;
  font-family: 'Proxima Nova Semibold';
  padding-bottom: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-block__services-list li:nth-child(2) {
  padding-bottom: 65px;
}

.advantages-block__services-list li:nth-child(3) {
  padding-bottom: 88px;
}

.advantages-block__services-list li:nth-child(4) {
  padding-bottom: 0;
}

.advantages-block__services-list li:before {
  color: #ffc800;
  content: counter(item) " ";
  counter-increment: item;
  padding-right: 13px;
  font-family: 'Proxima Nova Black';
  font-size: 35px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.advantages-block__services-list li img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 13px;
  max-height: 2px;
  margin-top: 11px;
}

.advantages-block__services-list li span {
  width: 375px;
}

@media (max-width: 1200px) {
  .advantages-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages-block__services {
    display: none;
  }
}

@media (max-width: 768px) {
  .advantages {
    margin-bottom: 60px;
  }
  .advantages__button {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media (max-width: 567px) {
  .advantages {
    margin-bottom: 10px;
  }
  .advantages-block__advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 300px;
    max-width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages-block__advantages-item {
    margin-bottom: 10px;
  }
}

.reviews {
  background: #010101;
  margin-bottom: 145px;
}

.reviews__button {
  font-family: 'Proxima Nova Semibold';
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  color: #020202;
  padding: 15px 64px 15px 63px;
  border: none;
  outline: none;
  background: #ffc800;
  margin-bottom: 75px;
  margin-top: -25px;
  margin-left: -30px;
}

.slider-reviews {
  margin: 0 -115px;
}

.slider-reviews__item {
  margin: 0 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  outline: none;
}

.slider-reviews__item p {
  color: #ffc800;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: 'Proxima Nova Semibold';
  margin-top: 10px;
  margin-bottom: 15px;
}

.slider-reviews__item span.text-reviews {
  color: #fffffd;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.slider-reviews__item span.like-reviews {
  color: #fefbfb;
  font-family: 'Proxima Nova Regular';
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

.slider-reviews__item-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-bottom: 160px;
}

.slider-reviews__item-like__like {
  margin-right: 33px;
}

.slider-reviews__item img {
  position: relative;
  display: inline;
}

.slick-slide img {
  display: inline;
}

@media (max-width: 992px) {
  .slider-reviews {
    margin: 0 -20px;
  }
  .slider-reviews__item {
    margin: 0 70px;
  }
}

@media (max-width: 768px) {
  .reviews {
    margin-bottom: 100px;
  }
  .reviews__button {
    font-size: 24px;
  }
  .slider-reviews {
    margin: 0 -50px;
  }
  .slider-reviews__item {
    margin: 0 50px;
  }
}

@media (max-width: 567px) {
  .slider-reviews {
    margin: 0 -10px;
  }
  .slider-reviews__item {
    margin: 0 10px;
  }
  .slider-reviews__item p {
    font-size: 16px;
  }
  .slider-reviews__item span.text-reviews {
    font-size: 16px;
  }
  .slider-reviews__item-like {
    margin-bottom: 100px;
  }
  .reviews {
    margin-bottom: 50px;
  }
  .reviews__button {
    margin-bottom: 50px;
  }
}

.news {
  background-color: rgba(241, 241, 241, 0.55);
}

.news__button {
  font-family: 'Proxima Nova Semibold';
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  color: #020202;
  padding: 15px 54px 15px 53px;
  border: none;
  outline: none;
  background: #ffc800;
  margin-bottom: 58px;
  margin-top: -25px;
  margin-left: -30px;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 378px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.news-block__item:hover {
  text-decoration: underline;
}

.news-block__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-block__item-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-block__item-text p.title {
  width: 200px;
  font-family: 'Proxima Nova Regular';
  color: #020202;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 10px;
}

.news-block__item-text p.subtitle {
  width: 80px;
  font-family: 'Proxima Nova Regular';
  color: #010101;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-transform: uppercase;
  margin-right: 42px;
  margin-top: 22px;
  margin-bottom: 12px;
}

.news-block__item-text p.subtitle b {
  background-color: #ffc800;
  width: 25px;
  height: 25px;
  text-align: center;
}

.news-block__item span {
  opacity: 0.83;
  color: #020202;
  font-family: 'Proxima Nova Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 350px;
  margin-bottom: 65px;
}

.news__read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 44px 16px 40px;
  background: #ffc800;
  font-family: 'Proxima Nova Regular';
  color: #020202;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 72px;
}

.block-news__read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .news-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .news__button {
    font-size: 24px;
  }
  .news-block__item span {
    font-size: 14px;
  }
  .news__read {
    font-size: 16px;
  }
}

@media (max-width: 567px) {
  .news-block__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-block__item img {
    max-width: 90%;
  }
  .news-block__item span {
    width: 300px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 30px;
  }
  .news-block__item-text p.subtitle {
    margin-right: 10px;
  }
  .news__read {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.map {
  height: 666px;
}

.offer-block {
  width: 397px;
  height: 385px;
  position: relative;
  background: #ffffff;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 140px;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
}

.offer-block__title {
  color: #030303;
  font-family: 'Proxima Nova Extra Bold';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.offer-block__title b {
  color: #ffc800;
}

.offer-block__input {
  opacity: 0.65;
  color: #020202;
  font-family: 'Proxima Nova Italic';
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.offer-block__input input {
  border: none;
  outline: none;
  border-bottom: 1px solid #010101;
  padding-top: 30px;
  line-height: 34px;
}

.offer-button {
  font-family: 'Proxima Nova Regular';
  color: #020202;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  background: #ffc800;
  padding: 15px 63px 15px 60px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 65px;
}

@media (max-width: 1200px) {
  .offer-block {
    width: 347px;
    height: 365px;
  }
}

@media (max-width: 768px) {
  .offer-block {
    width: 280px;
    height: 320px;
    margin-left: -40px;
  }
  .offer-block__input {
    font-size: 14px;
    width: 250px;
  }
  .offer-button {
    font-size: 16px;
    margin-top: 35px;
    padding: 15px 57px 15px 54px;
  }
}

@media (max-width: 567px) {
  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }
  .map-block iframe {
    position: initial;
    height: 300px;
  }
  .offer-block {
    top: -330px;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 300px;
    padding-top: 5px;
  }
}

.footer {
  background: #000000;
  height: 134px;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
}

.footer-block__address {
  color: #fdfcfc;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 150px;
}

.footer-block__address img {
  margin-right: 15px;
}

.footer-block__address p {
  margin: 0;
}

.footer-block__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 130px;
}

.footer-block__social-insta {
  background-color: #fefdfd;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-block__social-insta:hover {
  background-color: #ffc800;
}

.footer-block__social-insta img {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block__social-vk {
  background-color: #fefdfd;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-block__social-vk:hover {
  background-color: #ffc800;
}

.footer-block__social-vk img {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block__social-ok {
  background-color: #fefdfd;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-block__social-ok:hover {
  background-color: #ffc800;
}

.footer-block__social-ok img {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block__mail img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
}

.footer-block__mail a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fefefe;
  font-family: 'Proxima Nova Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer-block__mail a:after {
  content: url("../img/footer/line.png");
  margin-right: 22px;
  margin-left: 27px;
}

.footer-block__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block__phone img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 8px;
}

.footer-block__phone a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #fefefe;
  line-height: 40px;
  font-family: 'Proxima Nova Regular';
}

.footer-block__phone a b {
  font-weight: 700;
}

@media (max-width: 1200px) {
  .footer-block {
    padding-top: 50px;
  }
  .footer-block__address {
    font-size: 14px;
    line-height: 1;
    margin-right: 20px;
  }
  .footer-block__address img {
    margin-right: 5px;
  }
  .footer-block__social {
    margin-right: 20px;
  }
  .footer-block__mail img {
    margin-right: 5px;
  }
  .footer-block__mail a {
    font-size: 16px;
    line-height: 1;
  }
  .footer-block__mail a:after {
    content: '';
    margin-right: 10px;
    margin-left: 10px;
  }
  .footer-block__phone img {
    margin-right: 5px;
  }
  .footer-block__phone a {
    font-size: 16px;
    line-height: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 768px) {
  .footer-block {
    padding-top: 20px;
  }
  .footer-block__address {
    width: 130px;
  }
  .footer-block__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 10px;
  }
  .footer-block__social-insta {
    margin-bottom: 10px;
  }
  .footer-block__social-vk {
    margin-bottom: 10px;
  }
  .footer-block__mail a {
    margin-right: 5px;
  }
}

@media (max-width: 567px) {
  .footer-block {
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-block__address {
    width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .footer-block__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-block__social-ok {
    margin-bottom: 10px;
  }
  .footer-block__mail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .footer-block__phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.burger__menu {
  display: none;
  text-align: right;
}

.burger__menu-item {
  display: inline-block;
  color: #030303;
  font-family: 'Proxima Nova Regular';
  font-size: 16px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.burger__menu-item:hover {
  text-decoration: underline;
}

.burger__menu-icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.burger__menu-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burger__menu-icon span:nth-child(1) {
  top: 0;
}

.burger__menu-icon span:nth-child(2) {
  top: 13px;
}

.burger__menu-icon span:nth-child(3) {
  top: 13px;
}

.burger__menu-icon span:nth-child(4) {
  top: 26px;
}

@media (max-width: 768px) {
  .burger__menu {
    display: inline;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .burger__menu-icon {
    display: inline-block;
  }
  .burger__menu-links {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
    opacity: 0;
  }
  .burger__menu-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
  .burger__menu.menu-open .burger__menu-icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .burger__menu.menu-open .burger__menu-icon span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger__menu.menu-open .burger__menu-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger__menu.menu-open .burger__menu-icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .burger__menu.menu-open .burger__menu-links {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 300px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-dialog__input {
  font-size: 14px;
  font-family: 'Proxima Nova Italic';
  font-style: italic;
  width: 100%;
  outline: none;
  border: none;
  margin-bottom: 20px;
  line-height: 30px;
}

.modal-dialog__input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-button {
  background: #ffc800;
  font-family: 'Proxima Nova Regular';
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */